
.placeholder-card {
    min-height: 162px;
}

.placeholder {
    border-radius: 1rem;
    display: unset;
}

.without-hover:hover {
    background-color: unset!important;
}

.placeholder.card-text {
    height: 16px;
}

.placeholder.card-subtitle {
    margin-top: 0;
    height: 25px;
}

.placeholder.card-body {
    height: 50px;
    width: 50px;
    max-height: 50px;
    border-radius: 4rem;
    margin: .5rem;
}

.placeholder-item {
    padding: .5rem;
}